<%- include("../../views/_header") %>

    <div class="container ">
        <div class="row mt-5">

            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <% if(data) { %>
                            <div class="row mt-3">

                            </div>
                            <h1 align="center">Delete Data</h1>
                            <hr class="my-4">
                            <form action="/bas/delete/ <%= data.id02 %>" method="post">
                                <div class="form-group">
                                    <input type="text" name="z611998002" value="<%= data.z611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="y611998002" value="<%= data.y611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="x611998002" value="<%= data.x611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="w611998002" value="<%= data.w611998002.toLocaleDateString()%>" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="v611998002" value="<%= data.v611998002%>" onfocus="(this.type='time')" onblur="(this.type='text')" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> Yes </button>
                                <br>
                                <div align="center">
                                    <a href="/bas" class="btn btn-primary btn-lg btn-block"> No </a>
                                </div>
                            </form>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>