<%- include("../../views/_header") %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-1">

            </div>
            <div class="col-md-12">
                <a href="/bas/new" class="btn btn-warning"> ADD </a>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr align="center" class="table-info">
                                <th> No </th>
                                <th> Z611998002 </th>
                                <th> Y611998002 </th>
                                <th> X611998002 </th>
                                <th> W611998002 </th>
                                <th> V611998002 </th>
                                <th> Edit </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <% if(data){ %>
                                <% for(var i =  0; i < data.length ; i++){%>
                                    <tr align="center">
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data[i].z611998002 %>
                                        </td>
                                        <td>
                                            <%= data[i].y611998002 %>
                                        </td>
                                        <td>
                                            <%= data[i].x611998002%>
                                        </td>
                                        <td>
                                            <%= data[i].w611998002.toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= data[i].v611998002 %>
                                        </td>
                                        <td>
                                            <a href="/bas/delete/<%= data[i].id02 %>" class="btn btn-danger"> Delete </a>
                                            <a href="/bas/update/<%= data[i].id02 %>" class="btn btn-info"> Update </a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>