<%- include("../../views/_header") %>


    <div class="container ">

        <div class="row mt-5">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <% if(data) { %>
                            <div class="row mt-3">

                            </div>
                            <h1 align="center">Update Data</h1>
                            <hr class="my-4">
                            <form action="/bas/update/ <%= data.id02 %>" method="post">
                                <div class="form-group">
                                    <input type="text" name="z611998002" value="<%= data.z611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="y611998002" value="<%= data.y611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="x611998002" value="<%= data.x611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="w611998002" value="<%= data.w611998002.toLocaleDateString()%>" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="time" name="v611998002" value="<%= data.v611998002%>" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> Update </button>
                                <br>
                                <div align="center">
                                    <a href="/bas" class="btn btn-primary btn-lg btn-block"> Back </a>
                                </div>
                            </form>
                            <% } else { %>
                                <div class="row mt-3">

                                </div>
                                <h1 align="center">ADD Data</h1>
                                <hr class="my-4">
                                <form action="/bas/add" method="post">
                                    <div class="form-group">
                                        <input type="text" name="z611998002" placeholder="Float" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="y611998002" placeholder="Varchar" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="x611998002" placeholder="Int" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" name="w611998002" placeholder="Date" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="time" name="v611998002" placeholder="Time" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"> Save </button>
                                    <br>
                                    <div align="center">
                                        <a href="/bas" class="btn btn-primary btn-lg btn-block"> Back </a>
                                    </div>
                                </form>

                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>