<%- include ("../../views/_header") %>
<div class="container my-5">
  <div class="row">
  <div class="col-md-7">


      <div class="card">
        <div class="card-body">

          <div class="form-group">
            varchar<input  name="z611998018"   value=" <%= data.z611998018 %>" class="form-control">
          </div>
          <div class="form-group">
            float<input  name="y611998018"   value=" <%= data.y611998018 %>" class="form-control">
          </div>
          <div class="form-group">
            tinyint<input  name="x611998018"  value=" <%= data.x611998018 %>" class="form-control">
          </div>
          <div class="form-group">
            date<input  name="w611998018"   value=" <%= data.w611998018.toLocaleDateString() %>" class="form-control">
          </div>
          <div class="form-group">
            tinyint<input  name="v611998018"  value=" <%= data.v611998018 %>" class="form-control">
          </div>



<a href="/s611998018/delete/<%= data.id18 %>" class="btn btn-danger"> CONFIRM DELETE ? </a>
 <a href="/s611998018" class="btn btn-primary" >Back</a>

 </div>
  </div>
   </div>
    </div>
     </div>


<%- include ("../../views/_footer") %>
