<%- include ("../../views/_header") %>

<!--<div class="container ">
    <div class="col-md-7">
      <a href="/" class="btn btn-primary" > CRUDHW </a >
</div>
<!--<div class="col-md-5">
</div>-->

<!--</div>-->
<div class="container my-5">
  <div class="row">
  <div class="col-md-7">


      <div class="card">
        <div class="card-body">

          <% if(data){ %>
          <form action="/s611998018/update/<%= data.id18 %>" method="post">

                  <div class="form-group">
                    float<input type="text" name="z611998018"   value="<%=data.z611998018%>" class="form-control">
                  </div>
                  <div class="form-group">
                    varchar<input type="text" name="y611998018"   value="<%=data.y611998018%>" class="form-control">
                  </div>
                  <div class="form-group">
                    int<input type="text" name="x611998018"   value="<%=data.x611998018%>" class="form-control">
                  </div>
                  <div class="form-group">
                    date<input type="date" name="w611998018"   value=" <%=data.w611998018.toLocaleDateString()%>" class="form-control">
                  </div>
                  <div class="form-group">
                    time<input type="time" name="v611998018"   value="<%=data.v611998018%>" class="form-control">
                  </div>

            <button type="submit" class="btn btn-primary">Save  </button>
                <a href="/s611998018" class="btn btn-primary" >Back</a>
          </form>
        <% }else{ %>

          <form  action="/s611998018/add" method="post">

            <div class="form-group">
              float <input type="text" name="z611998018" placeholder="z611998018" class="form-control" value="">
            </div>
            <div class="form-group">
              varchar <input type="text" name="y611998018" placeholder="y611998018" class="form-control" value="">
            </div>
            <div class="form-group">
              int <input type="text" name="x611998018" placeholder="x611998018" class="form-control" value="">
            </div>
            <div class="form-group">
              date <input type="date" name="w611998018" placeholder="w611998018" class="form-control" value="">
            </div>
            <div class="form-group">
              time <input type="time" name="v611998018" placeholder="v611998018" class="form-control" value="">
            </div>

          <button type="submit"  class="btn btn-primary"> Save  </button>
          <a href="/s611998018" class="btn btn-primary" >Back</a>
          </form>


      <%  } %>


          </div>
            </div>
            <!--  </div>
              <form  action="/back" method="get">
              <div class="form-group">
              <!--  <input type="button" class="btn btn-lg btn-success" onclick="location.href='index.cshtml';" value="Home" />
              <button onclick="goBack()"  class="btn btn-primary" >Go Back</button>
              </div>
                </form>-->
                </div>
                </div>
                </div>
<%- include ("../../views/_footer") %>
