<%- include ("../../views/_header") %>
  <!--<a href="/" > CRUDHW </a >-->
  <!--<h1> CRUDHW </h1>-->

  <div class="container">
  <div class="row mt-5">
  <div class="col-md-1">

    </div>
    <div class="col-md-10">
    <a href="/s611998018/new" class="btn btn-success">Add</a >
        <div class="row mt-1">
          </div>
        <table class="table table-hover">
        <thead>
        <tr >
        <th><FONT SIZE=4><FONT COLOR=#0000cc>No</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>z611998018</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>y611998018</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>x611998018</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>w611998018</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>v611998018</FONT></FONT></th>
        <th><FONT SIZE=3.5><FONT COLOR=#0000cc>ACTION</FONT></FONT></th> <!--ตัวอักษร ACTION เป็นสีเขียว -->
        </tr
 </thead>

        <tbody>
          <% if(data){ %>
            <% for (var i = 0; i < data.length; i++) { %>

                <tr>
                <td><%= (i+1) %></td>
                <td><%= data[i].z611998018 %> </td>
                <td><%= data[i].y611998018 %> </td>
                <td><%= data[i].x611998018 %> </td>
                <td><%= data[i].w611998018.toLocaleDateString() %> </td>
                <td><%= data[i].v611998018 %> </td>
                <td>
                <a href="/s611998018/deleteform/<%= data[i].id18 %>"   class="btn btn-danger"> DELETE </a>
                <a href="/s611998018/update/<%= data[i].id18 %>"  class="btn btn-info"> UPDATE  </a>
                </td>
              </tr>

            <% } %>
          <% } %>
        </tbody>

      </table>
    </div>

    </div>
    </div>

<%- include ("../../views/_footer") %>
