
<%- include("../../views/_header") %>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                  <form action="/s601998023/delete/<%= data.id23 %>" method="POST">
            <div class="form-group">
                <h3><font color=#0000>Name = <%= data.z601998023%></font></h3>
            </div>
            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.y601998023%></font></h3>
            </div>
            <div class="form-group">
                <h3><font color=#0000>True/False = <%= data.x601998023%></font></h3>
            </div>
            <div class="form-group">
                <h3><font color=#0000>Date = <%= data.w601998023.toISOString().split('T')[0] %></font></h3>
            </div>
            <div class="form-group">
                <h3><font color=#0000>True/False = <%= data.v601998023%></font></h3>
            </div>

            <a href="/s601998023/deleteNow/<%= data.id23 %>" class="btn btn-warning"><h3> Del</h3> </a>
            <a href="/s601998023" class="btn btn-secondary"> <h3>Back</h3> </a>
            </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

<%- include ('../../views/_footer.ejs') %>
