<%- include ("../../views/_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <% if(data) { %>
        <form action="/s601998023/update/<%= data.id23%>" method="post">
          <div class="form-group">
            <input type="text" name="z601998023" value="<%= data.z601998023 %>" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="y601998023" value="<%= data.y601998023 %>" class="form-control">
          </div>
            <div class="form-group">
              <input type="text" name="x601998023" value="<%= data.x601998023 %>" class="form-control">
            </div>
            <div class="form-group">
              <input type="date" name="w601998023" value="<%= new Date(data.w601998023).toISOString().split('T')[0]%>" class="form-control">
            </div>
            <div class="form-group">
              <input type="time" name="v601998023" value="<%= data.v601998023 %>" class="form-control">
            </div>

            <button type="submit" class="btn-primary">Save</button>
            <a href="/s601998023" class="btn btn-danger">Back</a>
          </form>
          <% } else { %>
            <div class="col-md-7">
        <form action="/s601998023/add" method="post">

          <div class="form-group">
            <input type="text" name="z601998023" placeholder="เกรดเฉลี่ย" class="form-control">
         </div>
         <div class="form-group">
           <input type="text" name="y601998023" placeholder="ชื่อ" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="x601998023" placeholder="ปีการศึกษา" class="form-control">
       </div>
       <div class="form-group">
         <input type="date" name="w601998023" placeholder="วันเดือนปีจบ" class="form-control">
      </div>
      <div class="form-group">
        <input type="time" name="v601998023" placeholder="เวลา" class="form-control">
     </div>
       <button type="submit" class="btn btn-primary">Save</button>
       <a href="/s601998023" class="btn btn-danger">Back</a>
        </form>
      </div>

  <%  } %>

      </div>
    </div>
  </div>
</div>
</div>
<%- include ("../../views/_footer") %>
