<%- include ("../../views/_header") %>
<div class="container">
  <div class="row mt-5">

    <div class="col-md-12">
      <a href="/s601998023/new" class="btn btn-primary">Add</a>

<table class = "table table-bordered table-hover">
  <thead>
<tr class="table-active">


    <th>ลำดับ</th>
    <th>เกรดเฉลี่ย</th>
    <th>ชื่อ</th>
    <th>ปีการศึกษา</th>
    <th>วันเดือนปี</th>
    <th>เวลาที่จบ</th>
    <th>Action</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
      <td><%= (i+1) %> </td>
    <td><%= data[i].z601998023 %> </td>
    <td><%= data[i].y601998023 %> </td>
    <td><%= data[i].x601998023 %></td>
    <td><%= data[i].w601998023.toLocaleDateString('th-TH',{
                            day:'numeric',
                            month:'long',
                            year:'numeric'
                        }) %></td>
    <td><%= data[i].v601998023 %></td>
    <td>
      <a href="/s601998023/delete/<%= data[i].id23 %>" class="btn btn-danger"> Delete </a>
      <a href="/s601998023/update/<%= data[i].id23 %>" class="btn btn-info"> Update </a>
    </td>
    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>

  </div>
  <%- include ("../../views/_footer") %>
