<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group1 </title>
    <link rel="stylesheet" href="/bootstrap.min.css" </head>

    <body>

        <% JSON.stringify(session) %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/s611998023"> <span class="btn btn-info">Boy </span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/bas"> <span class="btn btn-info">Bas </span></a>
                        </li>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="/s611998018"><span class="btn btn-info">Wit</span></a>
                      </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/s601998023"><span class="btn btn-info">Ploy</span></a>
                        </li>
                        <% if(session.success==false){ %>
                        <% for(var i=0;i<session.errors.errors.length;i++){ %>
                        <div class="alert alert-danger" role="alert">
                        <%= session.errors.errors[i]["msg"] %>
                        </div>
                        <%   } session.success=null; } %>
            
                        <% if(session.success==true){ %>
                        <div class="alert alert-success" role="alert">
                        <%= session.topic %>
                        </div>
                        <%   } session.success=null;  %>
                        
                </div>
                
                    <a class="nav-link" href="/logout"><span class="btn btn-danger">ออก</span></a>
                
            </nav>
 
