<%- include("_header") %>
    <style>
        body {
            background-image: url('SF.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
            margin-bottom: auto;
            width: 60%;
        }
    </style>
    <%- include ( '_footer.ejs') %>