<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    </nav>
        <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-7">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <form action="/home" method="post">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPSrK4GjWlrdj-2G-4OZL7uDNbsBpTsqs99A&usqp=CAU" alt="" class="center" width="440" height="123">
                    <fieldset>
                        <% if(session.success==false){ %>
                            <% for(var i=0;i<session.errors.errors.length;i++){ %>
                            <div class="alert alert-danger" role="alert">
                            <%= session.errors.errors[i]["msg"] %>
                            </div>
                            <%   } session.success=null; } %>
                    
                            <% if(session.success==true){ %>
                            <div class="alert alert-success" role="alert">
                            <%= session.topic %>
                            </div>
                            <%   } session.success=null;  %>
                        <div class="form-group">
                            <label for="exampleInputUsername">User</label>
                            <input type="text" name="username" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>