<%- include ("../../views/_header") %>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/s611998023/new" class="btn btn-success"> เพิ่ม </a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Z - Float</th>
                            <th>Y - Varchar</th>
                            <th>X - Int</th>
                            <th>W - Date</th>
                            <th>V - Time</th>
                            <th>แก้ไขข้อมูล</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].z611998023 %> </td>
                                    <td> <%= data[i].y611998023 %> </td>
                                    <td> <%= data[i].x611998023 %> </td>
                                    <td> <%= data[i].w611998023.toISOString().split('T')[0]%> </td>
                                    <td> <%= data[i].v611998023%> </td>
                                    <td> <a href="/s611998023/update/<%= data[i].id23%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/s611998023/delete/<%= data[i].id23%>" class="btn btn-danger"> ลบ </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../../views/_footer") %>