<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998023/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>Z - Float = <%= data.z611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Y - Varchar = <%= data.y611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>X - Int = <%= data.x611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>W - Date = <%= data.w611998023.toISOString().split('T')[0] %></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>V - Time = <%= data.v611998023 %></font></h3>
            </div>

            <a href="/s611998023" class="btn btn-primary"> กลับ </a>
            <a href="/s611998023/deleteNow/<%= data.id23%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<%- include ("../../views/_footer") %>