<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <% if (data) { %> 
                        <form action="/s611998023/update/<%= data.id23 %>" method="POST">

                        <div class="form-group">
                        Z - Float <input type="text" 
                        name="z611998023" 
                        value="<%= data.z611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Y - Varchar <input type="text" 
                        name="y611998023" 
                        value="<%= data.y611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        X - Int <input type="text" 
                        name="x611998023" 
                        value="<%= data.x611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        W - Date <input type="text" 
                        name="w611998023" 
                        value="<%=new Date(data.w611998023).toISOString().split('T')[0]%>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        V - Time <input type="time" 
                        name="v611998023" 
                        value="<%= data.v611998023 %>"
                        class="form-control">
                        </div>
                        
                        <a href="/s611998023" class="btn btn-primary"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">submit</button>
                        </form>

                    <% } else { %>

                        <form action="/s611998023/add" method="POST">
        
                        <div class="form-group">
                        Z <input type="text" 
                        name="z611998023" 
                        placeholder="Float" 
                        class="form-control">
                        </div>
        
                        <div class="form-group">
                        Y <input type="text" 
                        name="y611998023" 
                        placeholder="Varchar" 
                        class="form-control">
                        </div>
        
                        <div class="form-group">
                        X <input type="text" 
                        name="x611998023" 
                        placeholder="Int" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        W <input type="date" 
                        name="w611998023" 
                        placeholder="Date" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        V <input type="time" 
                        name="v611998023" 
                        placeholder="Time" 
                        class="form-control">
                        </div>

                        <a href="/s611998023" class="btn btn-primary"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">submit</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>